:root {
  --PrimaryColor: hsl(199,100%,33%);
  --SecondaryColor: hsl(187,85%,43%);
  --gradientColor: linear-gradien( to right, hsl(187,85%,43%),hsl(199,100%,33%));
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(201,33%,16%);
  --textColor: hsl(240,4%,36%);
  --whiteColorDeam: hsl(0,0%,93%);
  --greyText: rgb(190,190,190);
  --inputColor: rgb(239,240,246);
  --bodyColor: rgb(240,240,246);
  --cardBG: rgb(225,225,235);
}

.homevide {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.homevide .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.homevide video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.homevide .homeContent {
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  padding: 3rem 1.9rem 0rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.homevide .textDiv {
  padding: 2rem 0;
}
.homevide .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.homevide .textDiv .homeTitle {
  position: relative;
  font-size: 1.8rem;
}
.homevide .cardDiv {
  position: relative;
  padding: 2rem 1rem;
  background: var(--whiteColor);
  border-radius: 10px;
  gap: 1rem;
}
.homevide .cardDiv label {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.homevide .cardDiv .label_total {
  justify-content: space-between;
  align-items: center;
}
.homevide .cardDiv .label_total .total {
  color: var(--textColor);
  font-size: 18px;
  padding-bottom: 10px;
}
.homevide .cardDiv .input {
  height: 40px;
  padding: 0 1rem;
  background: var(--inputColor);
  border-radius: 3rem;
}
.homevide .cardDiv .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.homevide .cardDiv .input input::-moz-placeholder {
  font-size: 13px;
}
.homevide .cardDiv .input input::placeholder {
  font-size: 13px;
}
.homevide .cardDiv .input .icon {
  font-size: 18px;
  color: var(--PrimaryColor) !important;
  margin-left: 10px;
}
.homevide .cardDiv .input .input[type=range] {
  background: blue;
}
.homevide .cardDiv .searchOptions {
  position: absolute;
  background-color: var --gradientColor;
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.homevide .cardDiv .searchOptions:hover {
  background: var(--PrimaryColor);
}
.homevide .cardDiv .searchOptions .icon {
  font-size: 18px;
}
.homevide .cardDiv .searchOptions span {
  font-size: 13px;
}
.homevide .homeFooterIcons {
  width: 100%;
  justify-content: space-between;
}
.homevide .homeFooterIcons .icon {
  font-size: 20px;
  margin: 0 5px;
  color: var(--whiteColor);
  font-size: 600;
}
.homevide .homeFooterIcons .icon:hover {
  color: var(--PrimaryColor);
}/*# sourceMappingURL=homevide.css.map */