:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187,85%,43%);
    --gradientColor: linear-gradien( to right, hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor: hsl(0,0%,100%);
    --blackColor : hsl(201,33%,16%);
    --textColor: hsl(240,4%,36%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyText: rgb(190,190,190);
    --inputColor: rgb(239,240,246);
    --bodyColor: rgb(240,240,246);
    --cardBG : rgb(225,225,235);
}

.header{
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2,15,29,0.904);

    .logo{
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(5px);
        }
    }

    @media screen and (max-width: 768px){
        .navBar{
            position : absolute;
            background: var (--whiteColorDeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            left: 50%;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2,15,
            29,0.904);
            transition: .3s ease-in-out;

            .navLists{
                justify-content: center;
                width: 100%;
                margin-right: .1rem;
                padding: .5rem 0.9rem;

                .navItem{
                    padding: 2rem .9rem ;
                    .navLink{
                        color: var(--textColor);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover{
                            color: var(--PrimaryColor);
                        }
                    }
                }

                .btn{
                    margin-right: 1rem;
                    a{
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                }
            }
            .closeNavbar{
                position: left;
                top: 3rem;
                right: 4.5rem;
                color: var(--PrimaryColor);
                &:hover{
                    color: var (--SecondaryColor);
                }
            }
        }
        .activeNavbar{
            top: 7 rem;
        }
    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
            color: var(--PrimaryColor);
        }
        &:hover.icon{
            color: var(--SecondaryColor);
        }
    }

    

}